@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
background: #B483DB;
background: linear-gradient(135deg, #B483DB, #E97B3B);
}
